<header>
   <div id="brand">
    Developer Funnel
    <button [routerLink]="['/home']" class="btn btn-info">Home</button>
</div>
   <div id="social">
        <a href="https://www.fackbook.com/" target="_balnk">
            <img src="https://i.ibb.co/dtzG625/fackbook.png" alt="fb" class="socialImg">
        </a>
        <a href="https://www.instagram.com/" target="_balnk">
            <img src="https://i.ibb.co/19H5LvT/insta.png" alt="insta" class="socialImg">
        </a>
        <a href="https://www.youtube.com/" target="_balnk">
            <img src="https://i.ibb.co/w07K2Vn/youtube1.png" alt="youtube" class="socialImg">
        </a>
   </div>
</header>