<div class="row">
    <div id="mainListing">
        <div id="filter">
            <h3>Filters</h3>
        </div>
    </div>
    <div id="content">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input class="form-control" placeholder="Enter Restaurant Name"
                    [(ngModel)]="userInput" >
                </div>
                <p>Results for <b>{{userInput}}</b> </p>
                <p>Number of Result</p>
            </div>
        </div>
    </div>
