<br>
<br>
<table>
    <tbody>
        <tr>
            <td scope="col" style="text-align: left;">
                <b>Name:</b> {{name}}<br>
                <b>Description:</b> {{des}}<br>
                <b>Price:</b> {{price}}
            </td>
            <td rowspan="3" scope="col"  style="text-align: center; "><img  style="height: 280px; width: 280px;"[src] = "image"></td>
        </tr>
        <tr>
            <td style="text-align: left;">
                <button (click)="gotoProduct()"><b>Go To Products List</b></button>
            </td>
        </tr>
    </tbody>
</table>
    